<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Document</title>
</head>
<body>
    
 <!--Fragment header-->
    <th:block th:fragment="header">
        <nav class="navbar bg-dark">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1" style="color: white;">Menù Pizzeria</span>
            </div>
          </nav>
    </th:block>

    <!--Fragment footer-->
    <th:block th:fragment="footer">
        <footer class="bg-dark text-white text-center py-3 mt-5">
            <p>&copy; 2025 Tutti i diritti riservati.</p>
        </footer>
    </th:block>


</body>
</html>